body {
  margin: 0;
  padding: 0;
  background-color: #2a2a2a;
  user-select: none;
}

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.video-player-add-button-container {
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  z-index: 100;
  width: 100%;
  height: 25px;
  opacity: 0.7;

}

.video-player-fullscreen-button-container{
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  right: 0px;

  z-index: 100;
  opacity: 0.7;
}

.video-player-add-button-container button {
  box-sizing: border-box;
  background-color: #444;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
}

.video-player-container {
  box-sizing: border-box;
  width: 99dvw;
  height: 99dvh;
  position: relative;
  overflow: hidden;
  /* Ensure nothing overflows */
  /* margin: 5px; */
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
}

.video-player-container-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}

.video-container {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 5px;
  background-color: #2a2a2a;
  /* Ensure nothing overflows */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {

  width: 100%;
  height: 100%;
  object-fit: contain;
}

video {

  width: 100%;
  height: 100%;
  object-fit: contain;
}



.status-container {
  position: absolute;
  width: 100%;
  bottom: 75px;
  left: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  margin-top: 5px;
  flex-direction: row;
  z-index: 100;

}


.playback-rate {
  
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
}

.clock-time {
  
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
}


.controls-basic-container {
  position: absolute;
  bottom: 10px;
  /* right: 0px; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  flex-direction: column;

}

.controls-basic-container button {
  box-sizing: border-box;
  background-color: #444;
  border: none;
  color: white;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.controls-basic-container button:hover {
  background-color: #555;
  transform: scale(1.05);
}



  .menu {
    /* position: fixed; */
    position: absolute;
    bottom: 90px; /* Slightly above the menu button */
    right: 0px;
    /* transform: translateX(-50%); */
    display: none; /* Hidden by default */
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.7);
    /* border: 1px solid #ccc; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
  }




.button-row-basic {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding-bottom: 20px; */
}

.button-row-slider {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}



.playback-rate,
.clock-time {
  box-sizing: border-box;
  color: #000000;
  padding: 0 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-container {
  background-color: #2a2a2a;
  /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  box-sizing: border-box;
}

.button-container button {
  box-sizing: border-box;
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
}

.button-container button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.button-container button svg {
  fill: white;
}

.flyout {
  box-sizing: border-box;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.flyout button {
  box-sizing: border-box;
  background-color: #555;
  border: none;
  color: white;
  padding: 10px;
  margin: 2.5px;
  cursor: pointer;
  border-radius: 5px;
}

.flyout.active {
  display: flex;
  transform: translateX(0);
}

.bookmark-overlay {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.bookmark-overlay.active {
  display: flex;
  transform: translateX(0);
}

.bookmark-overlay input {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #2a2a2a;
  color: white;
}

.bookmark-overlay button {
  box-sizing: border-box;
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.bookmark-overlay button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.bookmark-overlay ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.bookmark-overlay li {
  box-sizing: border-box;
  background-color: #333;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-overlay li button {
  box-sizing: border-box;
  background-color: #444;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.bookmark-overlay li button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.logo-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.logo-name-container img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.logo-name-container h1 {
  color: white;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}





.open-file-overlay {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.open-file-overlay.active {
  display: flex;
  transform: translateX(0);
}

.open-file-overlay input {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #2a2a2a;
  color: white;
}

.open-file-overlay button {
  box-sizing: border-box;
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.open-file-overlay button:hover {
  background-color: #555;
  transform: scale(1.05);
}


/* Scrubber Range Slider */
.button-row-scrubber {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding-bottom: 20px; */
}

.scrubber-range {
  width: 100%;
  height: max-content;
  appearance: none;  
  background: #444;
  border-radius: 5px;

}

.scrubber-range::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;  
  height: 8px;  
  
}

.scrubber-range::-webkit-slider-thumb {
  appearance: none;  
  height: 30px;
  width: 10px;   
  background-color: white;
  opacity: 0.7;
  margin-top: -9px; /* Center the thumb on the track */
  border-radius: 3px;
}

/* Seek Range Slider */
.button-row-seek {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 20px;
}

.seek-range {
  width: 100%;
  height: max-content;
  appearance: none;  
  background: #444;
  border-radius: 5px;
}

.seek-range::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;  
  height: 8px;  
}

.seek-range::-webkit-slider-thumb {
  appearance: none;  
  height: 16px;
  width: 16px;   
  background-color: #ccc;
  
  border-radius: 5px;  
  margin-top: -4px; /* Center the thumb on the track */
}