body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.root-container {
  box-sizing: border-box;
  background-color: #1e1e1e;
  padding: 10px;
  width: 100vw;
  height: 100vh;
}

.video-player-container {
  box-sizing: border-box;
  padding: 20px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

/* Unused style */
.video-player-container-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.video-container {
  box-sizing: border-box;
  padding: 10px;
  background-color: #333;
  flex-grow: 1;
}

video {
  width: 100% !important;
  object-fit: cover;
}

#vpc01 {
}

.button-container {
  background-color: #2a2a2a;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.button-container button {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
}

.button-container button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.button-container button svg {
  fill: white;
}

.flyout {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 95px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.flyout button {
  background-color: #555;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.flyout.active {
  display: flex;
  transform: translateX(0);
}

.top-buttons,
.bottom-buttons {
  display: flex;
  flex-direction: column;
}

.controls-basic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #333;
  border-top: 1px solid #444;
  margin-top: 10px;
}

/* Unused style */
.controls-basic-container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.controls-basic-container button {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.controls-basic-container button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.controls-basic-container .progress-bar {
  width: 100%;
  height: 5px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
  border-radius: 5px;
  accent-color: #ffffff;
}

.bookmark-overlay {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.bookmark-overlay.active {
  display: flex;
  transform: translateX(0);
}

.bookmark-overlay input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #2a2a2a;
  color: white;
}

.bookmark-overlay button {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.bookmark-overlay button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.bookmark-overlay ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.bookmark-overlay li {
  background-color: #333;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-overlay li button {
  background-color: #444;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.bookmark-overlay li button:hover {
  background-color: #555;
  transform: scale(1.05);
}